.guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.5rem;
}

.contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-align: justify;
    font-size: 1.5rem;
}

.precio {
    align-self: flex-start;
    color: var(--primary);
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.enlace {
    align-self: stretch;
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--negro);
    border: 2px solid var(--primary);
    padding: 1rem 5rem;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.enlace:hover {
    background-color: var(--primary);
    color: var(--blanco);
}

.formulario {
    align-self: stretch;
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-size: 2.2rem;
}

.formulario select {
    border: 2px solid var(--primary);
    padding: 1rem;
    text-align: center;
}

.formulario button[type="submit"] {
    margin-top: 1rem;
    display: block;
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 2rem;
    border: none;
    color: var(--blanco);
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.formulario button[type="submit"]:hover {
    background-color: var(--negro);
    cursor: pointer;
}
